/*---------------------------------------------------------------*/


/* TOP TWO BARS */

.topyellowbar {
    background-color: #DED400;
    height: 10px;
    width: 100%;
}

.toppurplebar {
    background-color: #745577;
    height: 15px;
    width: 100%;
}


/* TOP TWO BARS */


/*---------------------------------------------------------------*/


/* BACKGROUND IMAGE */

.full {
    background: url("../img/nifty-map.png") repeat center center fixed;
}

.navbar-default {
    background-color: transparent;
}

body {
    background-color: transparent;
}

.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:focus,
.navbar-default .navbar-nav>.active>a:hover {
    background-color: transparent;
}

.navbar-default .navbar-nav>.open>a,
.navbar-default .navbar-nav>.open>a:focus,
.navbar-default .navbar-nav>.open>a:hover {
    background-color: transparent;
}


/* BACKGROUND IMAGE */


/*---------------------------------------------------------------*/


/* LAST 3 COLUMN STYLES */

.tours,
.special,
.quote {
    background-color: #745577;
    border: 5px solid #DED400;
    color: #DDC4D2;
}


/* LAST 3 COLUMN STYLES */


/*---------------------------------------------------------------*/


/* COLUMN HEIGHT */

.tours,
.special,
.quote,
.slideshow,
.about,
.socialmediafeed {
    height: 611px;
}


/* COLUMN HEIGHT */


/*---------------------------------------------------------------*/


/* EMPHASIZE LINK */

.emphasized {
    color: #AEA600;
    font-weight: bold;
}


/* EMPHASIZE LINK */


/*---------------------------------------------------------------*/


/* TEXT STYLING */

h1 {
    font-family: Varela, Arial, Helvetica, sans-serif;
    color: #4A2F3D;
    text-shadow: 0px 1px 0px #FFF;
    font-size: 2em;
}

h2 {
    font-family: Varela, Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    color: #DDC4D2;
    text-shadow: 0px 1px 0px #000;
}

p,
li,
a,
td {
    font-family: Tahoma, Geneva, sans-serif;
}

em {
    font-style: italic;
}

.navbar-default .navbar-brand {
    font-weight: bold;
    color: #745577;
    text-shadow: 0px 1px 0px #FFF;
}

img {
    margin: auto;
}

.about hr {
    width: 200px;
    height: 2px;
    border-width: 0;
    color: gray;
    background-color: gray;
    margin-top: 20px;
    margin-right: auto;
    margin-bottom: 20px;
    margin-left: auto;
    padding-right: 50px;
}

hr {
    display: block;
    -webkit-margin-before: 0.5em;
    -webkit-margin-after: 0.5em;
    -webkit-margin-start: auto;
    -webkit-margin-end: auto;
    border-style: inset;
    border-width: 1px;
}


/*

html.full>body>div.navbar.navbar-default>div.navbar-collapse.collapse>ul.nav.navbar-nav>li>a.current {
    color: #AEA600;
}

html.full>body>div.navbar.navbar-default>div.navbar-collapse.collapse>ul.nav.navbar-nav>li>a {
    color: #482D3C;
    transition: all 0.3s ease-in-out 0s;
    transition-property: all;
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;
    transition-delay: 0s;
    text-shadow: 0px 1px 0px #FFF;
    font-weight: bold;
    font-size: 0.91em;
}

html.full>body>div.navbar.navbar-default>div.navbar-collapse.collapse>ul.nav.navbar-nav>li>a.emphasized {
    color: #AEA600;
}

html.full>body>div.navbar.navbar-default>div.navbar-collapse.collapse>ul.nav.navbar-nav>li>a:hover {
    color: #DDC4D2;
}

html.full>body>div.navbar.navbar-default>div.navbar-collapse.collapse>ul.nav.navbar-nav>li.open>a {
    color: #DDC4D2;
}

html.full>body>div.navbar.navbar-default>div.navbar-collapse.collapse>ul.nav.navbar-nav>li>ul>li>a {
    color: #482D3C;
    transition: all 0.3s ease-in-out 0s;
    transition-property: all;
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;
    transition-delay: 0s;
    text-shadow: 0px 1px 0px #FFF;
    font-weight: bold;
    font-size: 0.91em;
}

html.full>body>div.navbar.navbar-default>div.navbar-collapse.collapse>ul.nav.navbar-nav>li>ul>li>ul>li>a {
    color: #482D3C;
    transition: all 0.3s ease-in-out 0s;
    transition-property: all;
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;
    transition-delay: 0s;
    text-shadow: 0px 1px 0px #FFF;
    font-weight: bold;
    font-size: 0.91em;
}

*/

.navbar-default .navbar-nav>.open>a,
.navbar-default .navbar-nav>.open>a:focus,
.navbar-default .navbar-nav>.open>a:hover {
    color: #DDC4D2;
}

.navbar-default .navbar-nav>li>a.emphasized {
    color: #AEA600;
}

.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:focus,
.navbar-default .navbar-nav>.active>a:hover {
    color: #AEA600;
}

.navbar-default .navbar-nav>li>a {
    color: #482D3C;
    transition: all 0.3s ease-in-out 0s;
    transition-property: all;
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;
    transition-delay: 0s;
    text-shadow: 0px 1px 0px #FFF;
    font-weight: bold;
    font-size: 0.91em;
}

.navbar-default .navbar-nav>li>a:hover,
.navbar-default .navbar-nav>li>a:focus {
    color: #DDC4D2;
}

@media (max-width: 767px) {
    .navbar-default .navbar-nav .open .dropdown-menu>li>a {
        color: #482D3C;
        transition: all 0.3s ease-in-out 0s;
        transition-property: all;
        transition-duration: 0.3s;
        transition-timing-function: ease-in-out;
        transition-delay: 0s;
        text-shadow: 0px 1px 0px #FFF;
        font-weight: bold;
        font-size: 0.91em;
    }
    .navbar-default .navbar-nav .open .dropdown-menu>li>a:focus,
    .navbar-default .navbar-nav .open .dropdown-menu>li>a:hover {
        color: #DDC4D2;
    }
    .about h1,
    .about p.subh1 {
        text-align: center;
    }
}

.about ul {
    padding-left: 20px;
}

.dropdown-menu>li>a {
    color: #482D3C;
    transition: all 0.3s ease-in-out 0s;
    transition-property: all;
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;
    transition-delay: 0s;
    text-shadow: 0px 1px 0px #FFF;
    font-weight: bold;
    font-size: 0.91em;
}

.dropdown-menu>li>a:hover,
.dropdown-menu>li>a:focus {
    color: #DDC4D2;
}

.navbar-nav.sm-collapsible a.has-submenu {
    color: #482D3C;
    transition: all 0.3s ease-in-out 0s;
    transition-property: all;
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;
    transition-delay: 0s;
    text-shadow: 0px 1px 0px #FFF;
    font-weight: bold;
    font-size: 0.91em;
}

footer a {
    color: #B07995;
}

footer a span.fa {
    color: #b19da8;
}

footer .btn.focus,
.btn:focus,
.btn:hover {
    color: #FFF;
}

.about li {
    list-style-image: url(../img/compass-bullet.png);
}


/* TEXT STYLING */


/*---------------------------------------------------------------*/


/* NAVBAR */

.dropdown-menu {
    background-image: url("../img/nav-button-fill.jpg");
    background-color: transparent;
}

.nav .open>a,
.nav .open>a:focus,
.nav .open>a:hover {
    background-color: transparent;
}

.dropdown-menu>li>a:focus,
.dropdown-menu>li>a:hover {
    background-color: transparent;
}


/* NAVBAR */


/*---------------------------------------------------------------*/


/* BOOTSTRAP COLUMN WIDTH */

@media (max-width: 768px) {
    .col-xs-12 {
        width: 98%;
        margin: 1%;
        height: 100%;
    }
    .socialmediafeed {
        height: 400px;
    }
}

@media (min-width: 768px) {
    .col-sm-6 {
        width: 48%;
        margin: 1%;
        height: 611px;
    }
    .quote,
    .special,
    .slideshow,
    .about {
        height: 100%;
    }
}

@media (min-width: 902px) {
    .col-sm-6 {
        width: 43%;
        margin: 1%;
        height: 611px;
    }
    .quote,
    .special,
    .slideshow,
    .about {
        height: 611px;
    }
    .slideshow,
    .about {
        height: 100%;
    }
}

@media (min-width: 992px) {
    .col-md-4 {
        width: 31.3%;
        margin: 1%;
        height: 611px;
    }
}

@media (min-width: 1200px) {
    .col-lg-4 {
        width: 31.3%;
        margin: 1%;
        height: 611px;
    }
}


/* BOOTSTRAP COLUMN WIDTH */


/*---------------------------------------------------------------*/


/* SOCIAL MEDIA FEED */

.socialmediafeed {
    background-color: white;
    border: solid black 5px;
}


/* SOCIAL MEDIA FEED */


/*---------------------------------------------------------------*/


/* FOOTER */

footer {
    margin-top: 40px;
    background-color: #482D3C;
    width: 100%;
    color: #B07995;
    text-align: center;
    vertical-align: middle;
    line-height: 95px;
}


/* FOOTER */


/*---------------------------------------------------------------*/


/* IMAGE PADDING */

.img-responsive {
    padding-top: 15px;
    padding-bottom: 20px;
}


/* IMAGE BOTTOM PADDING */


/*---------------------------------------------------------------*/


/* CAPITAL LETTERS */

.uppercase {
    text-transform: uppercase;
}


/* CAPITAL LETTERS */


/*---------------------------------------------------------------*/


/* NAVBAR COLLAPSE SIZE */


/* NAVBAR COLLAPSE SIZE */


/*---------------------------------------------------------------*/
